<div class="col-md-3">
	<% if Category.exists? %>		    
		<ul class="list-group"> 
			<% for category in Category.all %>
				<li class="list-group-item"><%= link_to category.name, category %></li>
			<% end %>
		</ul>
	<% end %>
</div>						 